#topnav {
    display: flex;
    justify-content: space-between;
}

#topnav img {
    width: 50px;
    height: 50px;
    background: lightpink;
    padding: 0px 30px;
}

.listNav {
    background-color: #040D12;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
    margin-top: auto;
}

.listNav li {
    padding-right: 20px;
}

.listNav li a {
    color: white;
}

.topsidebars {
    padding: 16px;
    color: red;
}